.outer-container {
  padding: 10px;
}

.doc-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dropoff-point-card {
  max-width: 400px;
  margin: 10px;
}

agm-map {
  height: 200px;
}

.content-container div {
  display: grid;
  align-items: center;
  justify-items: center;
}
