<div class="outer-container">
  <div class="logo-container">
    <div></div>
    <div>
      <img class="dishtruck-logo" src="assets/dish-truck-logo-small.jpeg" />
    </div>
    <div></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Become a Dish Truck Member</h1>

      <p>A bunch of legalese will go here</p>

      <mat-divider></mat-divider>
      <br />

      <button type="button" (click)="becomeAMember()" mat-raised-button>
        Complete Registration
      </button>
    </div>
  </div>
</div>
