<div class="outer-container">
  <div class="logo-container-positioner">
    <div class="dishtruck-logo"></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Signout Containers</h1>

      <form [formGroup]="signoutForm" (submit)="saveCheckout()">
        <mat-stepper orientation="vertical" [linear]="true" #stepper>
          <mat-step>
            <ng-template matStepLabel
              >Where are picking up your food?</ng-template
            >

            <mat-chip-list
              formControlName="from_location_id"
              [selectable]="true"
              *ngIf="foodVendors$ | async as foodVendors"
            >
              <mat-chip
                *ngFor="let foodVendor of foodVendors"
                [value]="foodVendor.id"
                (click)="changeFoodVendorTo(foodVendor)"
                >{{ foodVendor.full_name }}</mat-chip
              >
            </mat-chip-list>

            <div *ngIf="showSubLocations">
              <mat-chip-list
                formControlName="from_sublocation_id"
                [selectable]="true"
                *ngIf="foodSubVendors$ | async as foodSubVendors"
              >
                <mat-chip
                  *ngFor="let foodSubVendor of foodSubVendors"
                  [value]="foodSubVendor.id"
                  (click)="changeFoodVendorTo(foodSubVendor)"
                  >{{ foodSubVendor.full_name }}</mat-chip
                >
              </mat-chip-list>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel
              >How many containers are you signing out?</ng-template
            >

            <img
              class="container-image"
              [src]="'assets/' + defaultContainerType + '.png'"
            />

            <mat-chip-list formControlName="qty" [selectable]="true">
              <mat-chip
                *ngFor="let containerNumber of containerNumbers"
                [value]="containerNumber"
                (click)="changeQtyTo(containerNumber)"
                >{{ containerNumber }}</mat-chip
              >
            </mat-chip-list>

            <br />
            <div>
              <button
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
              >
                Back
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Review your order</ng-template>

            <div>
              You are signing out
              {{ signoutForm.controls["qty"].value }} container(s) from
              {{ selectedfoodVendorName }}.
            </div>
            <div>
              Your total charge is
              {{ signoutForm.controls["qty"].value | currency }}.
            </div>
            <div>
              Please return your containers by
              <strong>{{ returnDate | date: "longDate" }}</strong>
            </div>
            <div>
              <button
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
              >
                Back
              </button>
              &nbsp;&nbsp;
              <button
                mat-raised-button
                [disabled]="signoutForm.invalid || saving"
                color="accent"
              >
                Confirm
              </button>
            </div>
            <div>
              {{ (memberRecord$ | async)?.full_name }}, Thank you for using our
              reusable dishes and keeping disposable waste out of the landfill!
              As a reminder, your account will be charged on the last day of the
              month for the total number of dishes you have used, and/or a
              replacement fee for any that have not been returned. The number of
              dishes you have signed out is located on your account's home
              screen. Yours for the planet from, The Dish Truck Crew Bringing
              Sustainability to the Party!
            </div>

            <br /><br />
            <mat-progress-bar
              mode="indeterminate"
              *ngIf="saving"
            ></mat-progress-bar>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
    <div></div>
  </div>
</div>
