<div class="outer-container" *ngIf="verifyDetails">
  <div class="logo-container-positioner">
    <div class="dishtruck-logo"></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Thank you!</h1>

      <div>
        Please show this screen to {{ verifyDetails?.food_vendor_name }}
      </div>

      <br />

      <div class="qty-confirmation">
        {{ verifyDetails?.qty }}
      </div>

      <br /><br />
      <div class="confirm-timestamp">
        {{ verifyDetails?.timestamp | date : "medium" }}
      </div>
      <br /><br />
      <a routerLink="/" mat-raised-button> All done! </a>
    </div>
  </div>
</div>
<div class="outer-container" *ngIf="!verifyDetails">
  <div class="logo-container-positioner">
    <div class="dishtruck-logo"></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Ooops!</h1>

      <div>You haven't checked out yet. Use the Get a Dish menu item</div>
    </div>
  </div>
</div>
