<div class="outer-container" *ngIf="memberRecord$ | async as memberRecord">
  <div class="logo-container">
    <div></div>
    <div>
      <img class="dishtruck-logo" src="assets/dish-truck-logo-small.jpeg" />
    </div>
    <div></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Welcome to Dish Truck!</h1>
      <br /><br />
      <h2>Diminish the waste, by using a dish.</h2>
      <br /><br />
      <h2>
        You Have
        {{ memberRecord.qty_plastic + memberRecord.qty_metal }}
        containers signed out
      </h2>
    </div>
    <div></div>
  </div>
</div>
