<div class="outer-container" *ngIf="memberRecord$ | async as memberRecord">
  <div class="logo-container-positioner">
    <div class="dishtruck-logo"></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>
        Welcome <br />
        {{ memberRecord.full_name }}&nbsp;&nbsp;!
      </h1>
      <br /><br />
      <h2>
        You Have
        {{ memberRecord.qty_plastic + memberRecord.qty_metal }}
        containers signed out
      </h2>
      <div></div>
      <a
        mat-raised-button
        *ngIf="memberRecord.qty_plastic + memberRecord.qty_metal > 0"
        routerLink="/find-dropoff"
      >
        Return Dish(es)
      </a>
      <br /><br />
      <p>
        * Remember, your account will be charged for any dishes not returned
        within 30 days of signout, $10 for clamshells, $20 for containers.
      </p>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  <div class="logo-container-positioner">
    <div class="dishtruck-logo"></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Logging You In To Dish Truck</h1>
      <br /><br />
      <h2>Please wait until your records are retrieved...</h2>
    </div>
    <div></div>
  </div>
</div>
