<div class="outer-container" *ngIf="memberRecord$ | async as memberRecord">
  <img class="dishtruck-logo" src="assets/dish-truck-logo-small.jpeg" />

  <h1>Hello {{ memberRecord.full_name }}</h1>

  <h2>
    You Have
    {{ memberRecord.qty_plastic + memberRecord.qty_metal }}
    containers signed out
  </h2>

  <a mat-raised-button routerLink="/checkout-containers"
    >Checkout Container(s)</a
  >
  <br /><br />
  <button mat-raised-button routerLink="/find-dropoff">
    Find Dropoff Locations Near Me
  </button>
</div>
