.mat-app-background {
  background-color: #122e0c;
}

.mat-toolbar-single-row {
  height: 100px;
  background-color: #a8d08c;
}

.big-red-bar {
  height: 20px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
