<div class="outer-container">
  <div class="logo-container">
    <div></div>
    <div>
      <img class="dishtruck-logo" src="assets/dish-truck-logo-small.jpeg" />
    </div>
    <div></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>How it works</h1>
      <br /><br />

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> 1. Pick your food vendor </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Vendors who participate with Dish Truck are saving disposable waste
            from going to the landfill and giving you the opportunity to help by
            offering reusable dishes for your food.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              2. Pick how many containers you need
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>TEXT GOES HERE</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> 3. Confirm and check out </mat-panel-title>
          </mat-expansion-panel-header>
          <p>TEXT GOES HERE</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              4. Return your dish back at designated station
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>TEXT GOES HERE</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              5. Thank yourself for caring about the planet
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>TEXT GOES HERE</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div></div>
  </div>
</div>
