.content-container div {
  display: grid;
  align-items: center;
  justify-items: center;
}

.mat-expansion-panel-header {
  background-color: #a8d08c;
}

.mat-expansion-panel-header-title {
  color: black;
}
