<div class="outer-container" *ngIf="foodVendors$ | async as foodVendors">
  <img class="dishtruck-logo" src="assets/dish-truck-logo-small.jpeg" />

  <h1>Signout Containers</h1>

  <form [formGroup]="signoutForm" (submit)="saveSignout()">
    <p>Where are picking up your order?</p>

    <mat-chip-list formControlName="from_location_id" [selectable]="true">
      <mat-chip
        *ngFor="let foodVendor of foodVendors"
        [value]="foodVendor.id"
        (click)="changeFoodVendorTo(foodVendor)"
        >{{ foodVendor.full_name }}</mat-chip
      >
    </mat-chip-list>

    <br />
    <p>How many containers are you signing out?</p>

    <mat-chip-list formControlName="qty" [selectable]="true">
      <mat-chip
        *ngFor="let containerNumber of containerNumbers"
        [value]="containerNumber"
        (click)="changeQtyTo(containerNumber)"
        >{{ containerNumber }}</mat-chip
      >
    </mat-chip-list>

    <br />
    <mat-divider></mat-divider>
    <br />

    <button mat-raised-button [disabled]="signoutForm.invalid || saving">
      Signout
    </button>

    <br /><br />
    <mat-progress-bar mode="indeterminate" *ngIf="saving"></mat-progress-bar>
  </form>
</div>
