<h1>Dashboard</h1>

<table mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">{{ row.type }}</td>
  </ng-container>
  <ng-container matColumnDef="qty_metal">
    <th mat-header-cell *matHeaderCellDef>Qty (Metal)</th>
    <td mat-cell *matCellDef="let row">{{ row.qty_metal }}</td>
  </ng-container>
  <ng-container matColumnDef="qty_plastic">
    <th mat-header-cell *matHeaderCellDef>Qty (Plastic)</th>
    <td mat-cell *matCellDef="let row">{{ row.qty_plastic }}</td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="['type', 'qty_metal', 'qty_plastic']"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['type', 'qty_metal', 'qty_plastic']"
  ></tr>
</table>
