.content-container div {
  display: grid;
  align-items: center;
  justify-items: center;
}

.google-login-btn {
  background-image: url("../../../src/assets/google-logo.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 10%;
  padding-left: 10%;
}

.apple-login-btn {
  background-image: url("../../../src/assets/apple-logo.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 10%;
  padding-left: 10%;
}

p {
  width: 70%;
  text-align: center;
}

.center-button {
  height: 20px;
  position: relative;
}

.inside-center-button {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
