<div class="outer-container">
  <div class="logo-container-positioner">
    <div class="dishtruck-logo"></div>
  </div>

  <div class="content-container">
    <div></div>
    <div>
      <h1>Welcome to Dish Truck</h1>
      <p>Diminish the waste, by using a dish</p>
      <br /><br />

      <p>
        Sign in with Google. If you are not yet a Dish Truck member, you will
        get a chance to sign up.
      </p>

      <br /><br />

      <asl-google-signin-button>Sign in With Google</asl-google-signin-button>

      <br /><br />
      <p>Not a member yet? Need more info?</p>

      <a href="/how-it-works" mat-raised-button> Learn More </a>
    </div>
    <div></div>
  </div>
</div>
